<a href="https://colab.research.google.com/github/TruongQuocHau110802/AI-subject/blob/main/AI_06_09_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt',mode = 'w') as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Nguyen Van A 6.8\n')
  accounts.write('3 Le Thi Be 6.8\n')
  accounts.write('4 Le Thi Nga 7.0\n')

In [ ]:
with open('text1.txt',mode = 'w')as accounts:
  print ('7:00 Nguyen VAn A',file = accounts)
  print ('7:01 Le Thi Be',file = accounts)

In [ ]:
with open('text.txt',mode = 'r')as accounts:
  print(f'{'name':<20}{'score':>20}')
  for record in accounts:
    name,score = record.split()
    print(f'{name:<20}{score:>20}')

SyntaxError: ignored

In [ ]:
import pandas as pd
url= 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.head(5)

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name']=['Jacky Jackson','Steven Stevenson','Peter']
dataframe['Age']=[38,25,18]
dataframe['Driver']=[True, False,True]
dataframe

In [ ]:
import pandas as pd
url = 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.head(10)
dataframe.iloc[4]
dataframe[:4]
dataframe = dataframe.set_index(dataframe['Full name'])
dataframe.loc['Nguyen Khac Toan']
dataframe[dataframe['Faculty']=='CKM'].head(5)
dataframe[ (dataframe['Faculty']=='CKM') & (dataframe['Score']>=5) ].head(5)
dataframe['Faculty'].unique()
dataframe['Faculty'].value_counts()
dataframe.count()

In [ ]:
import pandas as pd
url = 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.drop('Faculty',axis = 1).head(9)

In [ ]:
import pandas as pd
url = 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.drop(['Faculty','Year'],axis = 1).head(5)

In [ ]:
import pandas as pd
url = 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.groupby('Year').mean()

In [ ]:
import pandas as pd
url = 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.groupby('Year').count()

In [ ]:
import pandas as pd
url = 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.groupby(['Year','Faculty']).count()

In [ ]:
import pandas as pd
url = 'book1.csv'
dataframe= pd.read_csv(url)
dataframe.groupby(['Year','Faculty'])['Score'].count()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby('NOC')['Medal'].count()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[ (data['NOC']=='USA') & (data['Medal'] =='Gold') & (data['Event gender'] =='M') ].head(1000)

In [ ]:
import pandas as pd
url = 'book1.csv'
data = pd.read_csv(url)
data[data['Year']== (data['Year'].max())].head().count()

NO            1
Full name     1
Student ID    1
Score         1
Year          1
Faculty       1
dtype: int64